
<div class="container" id="features">
  <div class="row">
    <div class="col-md-4 feature">
      <i class="glyphicon glyphicon-time"></i>
      <h3>Quick</h3>
      <div class="title_border"></div>
      <p>Praediximus enim Montium sub ipso vivendi termino his vocabulis appellatos fabricarum culpasse tribunos ut adminicula futurae molitioni pollicitos</p>
    </div>
    <div class="col-md-4 feature">
      <i class="fa fa-heartbeat"></i>
      <h3>Healthy</h3>
      <div class="title_border"></div>
      <p>Praediximus enim Montium sub ipso vivendi termino his vocabulis appellatos fabricarum culpasse tribunos ut adminicula futurae molitioni pollicitos</p>
    </div>
    <div class="col-md-4 feature">
      <i class="fa fa-leaf"></i>
      <h3>Vegetarian</h3>
      <div class="title_border"></div>
      <p>Praediximus enim Montium sub ipso vivendi termino his vocabulis appellatos fabricarum culpasse tribunos ut adminicula futurae molitioni pollicitos</p>
    </div>
  </div>
</div>

<!-- End -->